@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nanum+Gothic&family=Playfair+Display:wght@600&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #fcfeff;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
#hero-img{
    width: 100%;
}
.button-box{
    text-align: center;
}
main, section{
    text-align: center;
}
body{
    background-color: #01302a;
    font-family: 'Playfair Display', 'serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Playfair Display', 'serif';
    margin: 0;

}
header{
    background-color:#f29129;
}
nav a:hover{
    background-color: #01302a;
    color: #f29129;
}
.book:hover, .join:hover{
    background-color: #01302a;
}
#background{
    background-color: #ffa23e;
    height: 725px;
}
.msg{
    background-color: #01302a;
    line-height: 1.5em;
    font-size: .8em;
    padding: 35px;
    font-family: 'Nanum Gothic', 'sans-serif';
}
footer{
    background-color: #01302a;
    padding: 25px 50px;
    margin-top: 200px;
}
nav a{
    text-decoration: none;
    background-color: #f29129;
    color: #fcfeff;
    text-align: center;
    padding: 35px;
}
.home-title{
    font-family: 'Playfair Display', 'serif';
    background-color: #01302a;
    color: #f29129;
    font-size: 2em;
    margin-top: 10px;
}
h4{
    background-color: #01302a;
    color: #fcfeff;
}
.book, .join {
  text-align: center;
 margin: 50px;
  background-color: #FCFEFF;
 color: #01302a;
 text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #01302a;
    color: #f29129;
}
.msg h2{
    background-color: #fcfeff;
    color: #01302a;
}
.msg p{
    background-color: #01302a;
    color: #fcfeff;
    padding-bottom: 15px;
}
footer h3{
    background-color: #01302a;
    color: #fcfeff;
}
footer a{
    text-align: center;
    background-color: #01302a;
    color: #fcfeff;
    text-decoration: none;
}
footer a:hover{
    background-color: #01302a;
    color: #f29129;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
footer h3 a:hover{
    text-decoration: underline;
}
#logo_link{
    padding-top: 5px;

}
footer .social img{
    padding-top: 15px;
}
.river-card, .camping-card, .rapid-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #f29129;
}
main section img {
    box-sizing: border-box;
}
.mountains {
    width: 85%;
    margin: 50px 15px 25px 15px;
}
h1, h2, h5, h6 {
    padding: 10px;
    color: #f29129;
    font-family: 'Playfair Display', serif;
    font-size: 1em;
    text-align: center;
  }
  